@media (max-width: 40em) {
  .p-dataview .car-details, .p-dataview .search-icon, .p-dataview .car-images{
    text-align: center;
    margin-top: 0;
  }

  .p-dataview .filter-container {
    text-align: left;
  }
  .p-dataview-layout-options.p-buttonset > .p-button {
    margin-left: 0;
    display: inline-block;
  }
  .p-dataview-layout-options.p-buttonset > .p-button:first-child {
    border-radius: 50%;
  }
  .p-dataview-layout-options.p-buttonset > .p-button:last-child {
    border-radius: 50%;
  }
}